
/*Variáveis*/
:root {
    --cor-de-fundo: #00030C;
    --branco-principal: #FFFFFF;
    --cinza-secundaria: #C0C0C0C0;
    --botao-azul: #167BF7;
    --fonte-principal: "Inter", sans-serif;
}

/*BODY*/
/*BODY: Principal*/
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundaria);
}

/*BODY: Secundario*/
.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    color: var(--branco-principal);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.descricao__texto {
    color: var(--cinza-secundaria);
}

.secundario__botao{
    display:inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 1.5rem;
}

/*Lista*/
.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    color: var(--branco-principal);
    font-size: 48px;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    color: var(--branco-principal);
    font-size: 32px;
}

/*Rodape*/
.rodape{
    text-align: center;
    margin: 5em 1em;
}

.rodape__logo{
    margin-bottom: 40px;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    color: var(--branco-principal);
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    margin-left: 1em;
}

.rodape__texto {
    color: var(--branco-principal);
    font-size: 14px;
    margin: 1.5em 0;
}

/*Efeitos*/
.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active {
    color: var(--cinza-secundaria);
}

.container__botao:hover {
    background-color: var(--cinza-secundaria);
    color: var(--cor-de-fundo);
}

